

.content-area-wrapper {
  border: 1px solid red;
  grid-area: content;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.content-area-title {
  display: flex;
  align-items: center;
  /* padding: 1.5rem; */
  height: 12%;
  width: 100%;
  font-size: 1.7rem;
  font-weight: 800;
}

.content-wrapper {
`  display: flex;
  flex-direction: column;
  height: 100%;
  /* max-height: 88dvh; */
}
