

.content-area-wrapper {
  grid-area: content;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 0.7rem 1rem;
}


.content-area-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12%;
  width: 100%;
  font-size: 1.7rem;
  font-weight: 800;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 85dvh;
}
