.courses-view-grid-provider {
  /* background-color: #585858; */
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: grid;
  column-gap: 1rem;
  /* flex-direction: column; */
  height: 100%;
  max-height: 88dvh;
  grid-template-columns: 6fr 3fr;
  grid-template-rows: 1.1fr 0.7fr 5.5fr 4fr;
  grid-template-areas:
    "navbar calendar"
    "content1 calendar"
    "content1 mentors"
    "content1 progress";
}
.navbar-wrapper {
  /* border: 1px solid; */
  grid-area: navbar;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  /* height: 3.5rem; */
  min-height: 50px;
  border-bottom: 1px solid #c4c4c4;
  gap: 2.3rem;
}

.navbar-item {
  /* border: 1px solid red; */
  font-size: 1rem;
  font-weight: 700;
  color: #6b6b6b;
  height: 100%;
  transition: border 0.1s ease-in-out, color 0.1s ease-in-out;
  cursor: pointer;
}

.navbar-item-active {
  color: #000;
  border-bottom: 3px solid #000;
}
.courses-wrapper {
  /* border: 1px solid grey; */
  overflow-x: hidden;
  grid-area: content1;
}
