
.view-grid-provider {
  /* background-color: #585858; */
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 88dvh;
}
.navbar-wrapper {
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 4rem;
  min-height: 50px;
  border-bottom: 1px solid grey;
  gap: 2.3rem;
}

.navbar-item {
  /* border: 1px solid red; */
  font-size: 0.9rem;
  font-weight: 700;
  color: #585858;
  height: 100%;  
  transition: border 0.1s ease-in-out, color 0.1s ease-in-out ;
  cursor: pointer;
}

.navbar-item-active {
  color: #000;
  border-bottom: 3px solid #000;  
}
.courses-wrapper {
  /* border: 1px solid grey; */
  overflow-x: hidden;
}