
.wrapper {
  /* border: 1px solid brown; */
  display: flex;
  flex-direction: column;

}
.title-area {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
}
.title {
  color: #000;
  font-weight: 800;
  font-size: 1.2rem;

}
