
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

}
.title-area {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
.title {
  color: #000;
  font-weight: 800;
  font-size: 1.2rem;

}
.float {
  width: 97%;
  padding: 0.4rem;
  box-shadow: 9px 10px #c7c7c7, -3px -3px 5px #a8a8a8;
}