

.learning-progress-wrapper {
  grid-area: progress;
  /* border: 1px solid green; */
  /* padding: 1.2rem; */
}

.progress-widget {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  gap: 0.4rem
}