
.mentors-wrapper {
  grid-area: mentors;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.mentors-area {
  height: calc(33dvh);
  overflow: scroll;
}
.mentor {
  height: 5.7rem;
  display: flex;
  width: 100%;
  padding: 0.8rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  border-bottom: 1px solid #e7e7e7;
}
.mentor-pic{
  height: 80%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  border: 3px solid rgb(212, 212, 212);
}

.mentor-details {
  flex: 2;
  display: flex;
  flex-direction: column;

}
.mentor-name {
  font-size: 1.1rem;
  font-weight: 800;
}
.mentor-desg {
  color: grey;
  font-weight: 500;
}
.mentor-exp {
  color: #707070;
  font-weight: 600;
}