
.top-bar-wrapper {
  height: 75%;
  /* border: 1px solid; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.top-bar-right-area {
  display: flex;
  height: 100%;
  padding-right: 2.5rem;
  gap: 1.5rem;
  align-items: center;
}
/* work on these ^ */

.profile {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-weight: 700;
  font-size: 1.2rem;
}
.profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cfe0ed;
  font-size: 1rem;
  padding: 0.5rem 0.3rem;
  border-radius: 50%;
  font-weight: 900;
}

.notifications-button {
  position: relative;
}
.unread-notif-indicator {
  height: 7px;
  width: 7px;
  background-color: #f00;
  border-radius: 50%;
  position: absolute;
  top: 1%;
  right: 7%;
}