
#root {
  display: grid;
  grid-template-columns: 1.8fr 4.5fr 2.5fr;
  grid-template-rows: 0.8fr 1.4fr 1fr 3fr 3fr;
  grid-template-areas : 
  "sidebar content top-bar"
  "sidebar content calender"
  "sidebar content calender"
  "sidebar content mentors"
  "sidebar content progress";

}

body, button {
  font-family: Nunito;

}

/* .navbar-wrapper {
  grid-area: navbar;
  background-color: aqua;
}
.calender-wrapper {
  grid-area: calender;
  background-color: blue;
}
.content-area-wrapper {
  grid-area: content;
  background-color: yellow;
} */
