
#root {
  display: grid;
  grid-template-columns: 1.8fr 4.5fr 2.5fr;
  grid-template-rows: 0.8fr 1fr 1fr 3.6fr 3.4fr;
  grid-template-areas : 
  "sidebar content content"
  "sidebar content content"
  "sidebar content content"
  "sidebar content content"
  "sidebar content content";

  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}

body, button {
  font-family: Nunito;

}

/* .navbar-wrapper {
  grid-area: navbar;
  background-color: aqua;
}
.calender-wrapper {
  grid-area: calender;
  background-color: blue;
}
.content-area-wrapper {
  grid-area: content;
  background-color: yellow;
} */
